<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <link rel="stylesheet" href="/static/css/account.css"/>
    <link rel="stylesheet" href="/static/plugins/bootstrap-3.3.7-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/plugins/Font-Awesome-master/css/font-awesome.css"/>
</head>
<body>
{% include 'include/header.html' %}
<div style="position: absolute;top: 100px;left: 100px;right: 200px">
    <h1>{{ articlede.article.title }}</h1>
    <br>
    {{ articlede.content }}
    <div>
        <a href="/updown.html?article_id={{ articlede.article_id }}&up=1&blog_id={{ blog_id }}&article_id={{ article_id }}"
           style="margin: 5px 10px;display: inline-block;padding: 5px 15px;border: 1px solid #dddddd;text-align: center;">
            <i class="fa fa-thumbs-o-up fa-3" aria-hidden="true" style="font-size: 25px"></i>
            <div>{{ articlede.article.up_count }}</div>
        </a>
        <a href="/updown.html?article_id={{ articlede.article_id }}&?up=0&?blog_id={{ blog_id }}&?article_id={{ article_id }}"
           style="margin: 5px 30px 5px 10px;display: inline-block;padding: 5px 15px;border: 1px solid #dddddd;text-align: center;">
            <i class="fa fa-thumbs-o-down fa-3" aria-hidden="true" style="font-size: 25px"></i>
            <div>{{ articlede.article.down_count }}</div>
    </div>
    </a>
</div>
<script src="/static/js/jquery-1.12.4.js"></script>
<script type="text/javascript"></script>
<script>
</script>
</body>
</html>